100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "..\\assets\\images\\background.bmp"
1001 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "..\\assets\\images\\player.bmp"
1002 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "..\\assets\\images\\zombie.bmp"
